@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Colors : Disclaimer & Footer #00004E , Header font #0000C9 , Header & Cards button #4060AF , h1 #00377F , h2 & p-info #00454E, Banner Image #C4C4C4, p-info Background #DAE3E8, Cards Image #19C9B5 , p #383838, Accordion Icon #155891, Accordion Border #FECD00 , Infos Footer Background #C1C7CD  */

:root{

    --font: 'Inter', sans-serif;
    --dark-blue: #00004E;
    --medium-blue: #0000C9;
    --denim: #4060AF;
    --midnight-green: #00454E;
    --jet: #383838;
    --h1-size: 80px;
    --h2-size: 48px;
    --h3-size: 18px;
    --p-size: 16px;

}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;

    font-family: var(--font);
    font-weight: 380;
    font-size: var(--p-size);
    color: var(--jet);
}

*::selection {
    background-color: #19c9b437;
}

section{
  padding: 0 10%;
}

a{
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER */

/* Disclaimer */
.header-disclaimer{
  padding: 0.5rem 10%;
  background-color: var(--dark-blue);
}

.header-disclaimer>p{
  color: white;
}

/* Nav 1 */
.container-fluid{
  padding: 1.3rem 8rem;
}

.navbar-brand{
  padding-right: 0.5rem;
}

.nav-link{
  color: var(--medium-blue);
  transition: all 0.5s;
}

.nav-link:hover{
  color: var(--medium-blue);
  opacity: 0.5;
}

/* buttons */

.buttonVMED{
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 3px solid var(--medium-blue);
  color: var(--medium-blue);
  background-color: white;
  transition: all 0.5s;
}

.register-button:hover{
  color: white;
  border: 3px solid var(--medium-blue);
  background-color: var(--medium-blue);
}

/* Nav 2 */
.nav2{
  padding: 2rem 10%;
  background-color: var(--denim);
}

.nav2 > ul{
  display: flex;
  padding: 0rem;
  margin-bottom: 0rem; /* Disable Bootstrap margin-bottom */
}

.nav2-link{
  padding: 0rem;
  padding-right: 1rem;
}

.nav2-link > a{
  color: white;
  transition: all 0.5s;
}

.nav2-link > a:hover{
  opacity: 0.5;;
}

/* MAIN */

/* Banner */

.section-banner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7% 10%;
}

h1{
  padding-bottom: 7%;
  font-weight: 300;
  font-size: var(--h1-size);
  color: #00377F;
}

h2{
  font-weight: 300;
  font-size: var(--h2-size);
  color: var(--midnight-green);
}

.banner-titles{
  margin-top: auto;
  margin-bottom: auto;
}

.banner-image{
  width: 655px;
  height: 424px;
  background-color: #C4C4C4;
  border-radius: 16px;
  box-shadow: 0 6px 9px 2px #18274b34;
}

/* Cards section */

.section-cards-p{
  margin: 4% 0;
  padding: 1rem;
  color: var(--midnight-green);
  background-color: #DAE3E8;
  border-radius: 16px;
}

.col-sm-6{
  width: 50%;
  padding-bottom: 32px;
}

.card{
  border: unset; /* Disabled bootstrap border */
  --bs-card-border-radius: 1rem;
  --bs-card-inner-border-radius: 1rem;
  box-shadow: 0 3px 5px 1px #18274b34;
}

.card-body{
  padding: 30px;
}

h3{
  font-weight: 800;
  font-size: var(--h3-size);
  color: var(--jet);
}

.card-img-top{
  width: 100%;
  height: 230px;
  background-color: #19C9B5;
}

.card-title {
  color: var(--jet);
  margin-bottom: 30px;
}

.card-button{
  width: 100%;
  padding: 0.7rem 2rem;
  color: white;
  border-color: var(--denim);
  background-color: var(--denim);
}

.card-button:hover{
  color: var(--denim);
  background-color: white;
  border-color: var(--denim);
}

/* Responsive : 991px */