@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Colors : Disclaimer & Footer #00004E , Header font #0000C9 , Header & Cards button #4060AF , h1 #00377F , h2 & p-info #00454E, Banner Image #C4C4C4, p-info Background #DAE3E8, Cards Image #19C9B5 , p #383838, Accordion Icon #155891, Accordion Border #FECD00 , Infos Footer Background #C1C7CD  */

:root{

    --font: 'Inter', sans-serif;
    --dark-blue: #00004E;
    --medium-blue: #0000C9;
    --denim: #4060AF;
    --midnight-green: #00454E;
    --jet: #383838;
    --h1-size: 80px;
    --h2-size: 78px;
    --p-size: 16px;

}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;

    font-family: var(--font);
    font-weight: 380;
    font-size: var(--p-size);
    color: var(--jet);
}

*::selection {
    background-color: #19c9b437;
}

section{
  padding: 0 10rem;
}

a{
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER */

/* Disclaimer */
.header-disclaimer{
  background-color: var(--dark-blue);
}

.header-disclaimer>p{
  color: white;
  padding: 0.5rem;
  padding-left: 10rem;
}

/* Nav 1 */
.container-fluid{
  padding: 1.3rem 8rem;
}

.navbar-brand{
  padding-right: 0.5rem;
}

.nav-link{
  color: var(--medium-blue);
}

.nav-link:hover{
  color: var(--medium-blue);
  opacity: 0.7;
}

/* Nav 2 */
.header-nav2 > ul{
  display: flex;
  padding: 2rem 10rem;
  background-color: var(--denim);
}

.header-nav2 > ul > li{
  padding: 0rem;
  padding-right: 1rem;
}

.header-nav2 > ul > li > a{
  color: white;
}

/* Header button */
.register-button{
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 3px solid var(--medium-blue);
  color: var(--medium-blue);
  background-color: white;
}

/* MAIN */

.card{
  width: 558px;
}

.card-img-top{
  width: 100%;
  height: 230px;
  background-color: #19C9B5;
}